html
    --portal-white white
    --portal-background #eef3fa
    --portal-green #A3D49A
    --portal-gray #A2A2A2
    --border-gray #D4D4D4
    --portal-text-black black
    --button-border 50%
    --classic-shadow 0 2px 10px rgba(0, 51, 102, 0.247058823529412)
